<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Medical Receipt List</title>
</head>
<body>
    <form method="post" th:action="@{/web/medicalReceipt/list/submit}" th:object="${medicalReceiptListForm}">
        <button type="submit" name="add">Add</button>
        <button type="submit" name="edit">Edit</button>
        <button type="submit" name="delete">Delete</button>
        <table>
            <thead>
                <tr>
                    <th>check</th>
                    <th>id</th>
                    <th>examineeName</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="medicalReceipt:${medicalReceipts}">
                    <td><input type="checkbox" th:field="*{selectedIds}" th:value="${medicalReceipt.id}"></td>
                    <td><span th:text="${medicalReceipt.id}"></span></td>
                    <td><span th:text="${medicalReceipt.examineeName}"></span></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>
